body{
    background-image:url(/assets/img/background/pikaso_texttoimage_adorable-cartoon-style-background-game-war-battle-.jpeg);
    background-size:cover;
    height:100%;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:10px;
    min-width: 375px;
    
}

.vidro{
    display: none;
    width:250px;
    position:absolute;
    z-index: 5;
    
}


@media screen and (max-width:400px) {
    .vidro{
        width:25%;
    }
}